:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Playfair-Display;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Playfair-Display';
  src: url('./fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}